// ---------------------------------------------------------------------------
// Imports
@import "compass/css3";
@import "compass/utilities";
@import "bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "neat/neat";
/* -------------------------------------------------------------------------*/
/* Layout */

@mixin size($w,$h){
    width: $w;
    height: $h;
}


body{
    margin: 0;
    font-family:sans-serif;
    color: #333;
}
section.header{
    @include size(100%, 60px);
    top: 0;
    left: 0;
    background-color: #666;
    position:fixed;
    z-index: 2;
    float: left;
}
.container {
  @include outer-container;
    margin-top: 60px;
    height: 10000px;
}

.card{
    @include span-columns(12);
    @include pad();
    background-color: rgba(200,200,200, .6);
    height: 1000px;
}
.top{
    @include fill-parent;
    height: 100px;
    margin-top: 20px;
}
.cont{
    @include span-columns(6 of 12);
    @include shift(3);
    padding-top: 12px;
    height: 60px;
    //background-color: green;
    font-size: 2em;
    color: white;
    text-align:center;
    @include border-radius(5px);
    
    &.yellow{background-color: yellow;}
    &.red{background-color: red;}
    &.green{background-color: green;}
}
.unity{
    width: 80px;
    height: 80px;
    margin: 5px;
    padding-top: 5px;
    text-align:center;
    display: inline-block;
    background-color: gray;
    cursor: pointer;
    @include border-radius(3px);
    
    & img{
        @include border-radius(3px);
        @include size(70px,70px)
    }
    
    &.selected{
        background-color: green;
    }
}

aside.info{
    @include span-columns(4);
    @include pad();
    @include reset-display;
    
    color: #ccc;
    text-align:left;
    height: 1000px;
    background-color: #333;

}