!!! 5
%html
    %head
        %title Riffei
        %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
        %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/

        %script{:type => "text/javascript", :src  => "http://code.jquery.com/jquery-1.10.2.min.js"}
        %script{:type => "text/javascript", :src  => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
        
        %link(rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
        
        %link(rel="stylesheet" type="text/css" href="../stylesheets/screen.css")
        %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext' rel='stylesheet' rel='stylesheet")
        / %link(rel="stylesheet" type="text/css" href="stylesheets/print.css")
        /[if IE]
            %link(rel="stylesheet" type="text/css" href="stylesheets/ie.css")
%body
    .container
        %section.header
        #register-form
            %p.heading
            <?php echo form_open('users/save'); ?>
            <?php echo validation_errors(); ?>
            %p
                %label{:for => "name"} Name:
                %input{:type => 'text', :name => 'name', :value => "<?php echo set_value('username'); ?>" }
            %p
                %label{:for => "lastname"} Lastname:
                %input{:type => 'text', :name => 'lastname', :value => "<?php echo set_value('lastname'); ?>" }
            %p
                %label{:for => "age"} Age:
                %input{:type => 'text', :name => 'age', :value => "<?php echo set_value('age'); ?>" }
            %p
                %label{:for => "address"} address:
                %input{:type => 'text', :name => 'address', :value => "<?php echo set_value('address'); ?>" }
            %p
                %label{:for => "state"} state:
                %input{:type => 'text', :name => 'state', :value => "<?php echo set_value('state'); ?>" }
            %p
                %label{:for => "phone"} phone:
                %input{:type => 'text', :name => 'phone', :value => "<?php echo set_value('phone'); ?>" }
            %p
                %label{:for => "avatar"} avatar:
                %input{:type => 'text', :name => 'avatar', :value => "<?php echo set_value('avatar'); ?>" }
            %p
                %label{:for => "flag"} Credit Card Flag:
                %input{:type => 'text', :name => 'flag', :value => "<?php echo set_value('flag'); ?>" }
            %p
                %label{:for => "cardnumber"} cardnumber:
                %input{:type => 'text', :name => 'cardnumber', :value => "<?php echo set_value('cardnumber'); ?>" }
            %p
                %label{:for => "securitycode"} securitycode:
                %input{:type => 'text', :name => 'securitycode', :value => "<?php echo set_value('securitycode'); ?>" }
            %p
                %label{:for => "valid"} Valid:
                %input{:type => 'text', :name => 'valid', :value => "<?php echo set_value('valid'); ?>" }
            %p
                %label{:for => "email "} E-mail:
                %input{:type => 'text', :name => 'email', :value => "<?php echo set_value('email'); ?>" }
            %p
                %label{:for => "username "} Username:
                %input{:type => 'text', :name => 'username', :value => "<?php echo set_value('username'); ?>" }
            %p
                %label{:for => "password "} Password:   
                %input{:type => 'password', :name => 'password', :value => "<?php echo set_value('password'); ?>" }
            %p 
                %label{:for => "passconf"} Confirm Password  :   
                %input{:type => 'password', :name => 'passconf', :value => "<?php echo set_value('passconf'); ?>" }
            %p
                <?php echo form_submit('submit','Create my account'); ?>
            <?php echo form_close(); ?>


     